{% extends 'base.html.twig' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="{{ path('user_my_account') }}">Your account</a></li>
    <li><a href="">Change password</a></li>
</ol>
{% endblock %}

{% block body %}
<form action="{{ path('user_save_changed_password') }}" method="POST">
        <fieldset>
            <legend><i class="fa fa-asterisk"></i> Change your password</legend>
            <div class="form-group">
                <label for="username">Password</label>
                <input type="password" id="password" name="password" value="" class="form-control" minlength="5" placeholder="Your password" required />
            </div>
            <div class="form-group">
                <label for="passwordRepeat">Repeat password</label>
                <input type="password" id="password-repeat" name="password-repeat" class="form-control" minlength="5" placeholder="Repeat your password" required />
            </div>
            <br/>
            <button type="submit" class="btn btn-success">
                Save
            </button>
        </fieldset>
    </form>
{% endblock %}
